= form_for [@device, @message], :html => { :class => 'form-horizontal' } do |f|
  - if @message.errors.any?
    #error_explanation
      %h2
        = pluralize(@message.errors.count, "error")
        prohibited this message from being saved:
      %ul
        - @message.errors.full_messages.each do |message|
          %li= message
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_field :description, :class => 'text_field'
  .control-group
    = f.label :format, :class => 'control-label'
    .controls
      = f.text_field :format, :class => 'text_field'
  .control-group
    = f.label :freq, :class => 'control-label'
    .controls
      = f.text_field :freq, :class => 'text_field'
  .control-group
    = f.label :data, :class => 'control-label'
    .controls
      = f.text_area :data, :class => 'text_area'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), :back, :class => 'btn'
