- model_class = Message
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:format)
      %th= model_class.human_attribute_name(:freq)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @device.messages.each do |message|
      %tr
        %td= message.name
        %td= message.description
        %td= message.format
        %td= message.freq
        %td
          = link_to 'Send', transmit_message_path(message), :class => 'btn btn-success'
          = link_to t('.show', :default => t("helpers.links.show")), message, :class => 'btn btn-mini'
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_message_path(message), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), message_path(message), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_device_message_path(@device), :class => 'btn btn-primary'
