- model_class = Device
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @device.name
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @device.description

= render template: "messages/index"
