%p#notice= notice
%p
  %strong Name:
  = @device.name
%p
  %strong Description:
  = @device.description
= link_to 'Edit', edit_device_path(@device)
|
\#{link_to 'Back', devices_path}

= render template: "messages/index"
